menu "Wi-Fi Connection"
    config PROJECT_WIFI_SSID
        string "WiFi SSID"
        default "myssid"
        help
            SSID (network name) for the example to connect to.

    config PROJECT_WIFI_PASSWORD
        string "WiFi Password"
        default "mypassword"
        help
            WiFi password (WPA or WPA2) for the example to use.
            Can be left blank if the network has no security set.

endmenu

menu "Earth"
    config PROJECT_EARTH_URL
        string "Earth URL"
        default "http://localhost/%d/%d/%d/%d/%d.jpg"
        help
            URL to fetch earth pictures from.

endmenu
